.home-main {

  &_container {
    @include flex_center_column;
    height: 80vh;
    width: fit-content;
    // gap: 1rem;
    animation: sphereline_home_rotation 240s infinite;

  }

  &_middle-line_container{
    @include flex_center_row;
    // gap:1rem;
  }

  &_logo {

    &_container {
      @include flex_center_column;
      height: 15rem;
      width: 15rem;
    }

    &_img {
      width: 100%;
      height: 100%;
    }
  }
}