.home-main {

  //TODO responsive?
  &_container {
    @include flex_center;
    height: 80vh;
    width: 100%;
    position: relative;
  }

  &_logo {

    &_container {
      @include flex_center;
      height: $logo_wheel_size;
      width: $logo_wheel_size;
    }

    &_img {
      //TODO keep height and with in case of inline style not working?
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}