.form {
  
  &_wrapper {
    @include flex_center_column;
    width: 100%;
    height: 100%;
  }

  &_fieldsets {
  
    &_wrapper {
      @include flex_center_row;
      align-items: stretch;
      width: 70%;
      height: auto;
      gap: 5rem;
    }
  }
  
  &_fieldset {
    
    &_container {
      @include flex_center_column;
      width: 100%;
      padding: 1.5rem;
      border: 2px solid $primary-color;
      border-radius: 10px;
      flex: 1;
    } 

    &_legend {
      font-family: 'Tektur_Bold', sans-serif;
      font-size: 1.5rem;
      @include gradient_text($secondary_linear-gradient);
      cursor: default;
    }
  }
  
  &_input {

    &_container {
      @include flex_center_column;
      align-items: flex-start;
    }
    
    &_field {
      width: 200px;
      height:20px;
      margin-bottom: 0.5rem;;
      border: 1px solid $primary-color;
      padding: 1rem 0.5rem;
      font-family: 'Roboto', sans-serif;
      font-size: 0.9rem;
    }

    &_label {
      width: fit-content;
      font-family: 'Tektur_Bold', sans-serif;
      font-size: 1.3rem;
      margin-bottom: 0.2rem;
      @include gradient_text($secondary_linear-gradient);
    }
  }

  &_submit {

    &_container {
      @include flex_center;
      width: fit-content;
      height: fit-content;
      margin-top: 1rem;
      background: #fff;
    }

    &_button {
      @include gradient_text($secondary_linear-gradient);
      width: 135px;
      height: 135px;
      font-family: 'Tektur_Bold', sans-serif;
      font-size: 1.3rem;
      border: 10px solid $primary-color;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      box-shadow: inset 0 0 40px $primary-color;

      &:hover {
        border: 9px solid $primary-color;
        transform: translateY(6px) scale(0.98);
        box-shadow: inset 0 0 40px $primary-color, 0 0 8px 3px (rgba(48, 47, 47, 0.37));
      }
    }

    &_inside-circle,
    &_middleIn-circle,
    &_middleOut-circle,
    &_outside-circle {
      background : $primary_radial-gradient;
      border-radius: 50%;
      margin: 1px;
    }

    &_inside-circle {
      width: 80px;
      height: 80px;
    }

    &_middleIn-circle {
      width: 65px;
      height: 65px;
    }

    &_middleOut-circle {
      width: 50px;
      height: 50px;
    }

    &_outside-circle {
      width: 35px;
      height: 35px;
    }
  }
}
