.form {
  
  &_wrapper {
    @include flex_center_column;
    width: 100%;
    height: 100%;
  }

  &_fieldsets {
  
    &_wrapper {
      @include flex_center_row;
      align-items: stretch;
      width: 70%;
      height: auto;
      gap: 5rem;
    }
  }
  
  &_fieldset {
    
    &_container {
      @include flex_center_column;
      width: 100%;
      padding: 1.5rem;
      border: 2px solid $primary-color;
      border-radius: 10px;
      flex: 1;
    } 

    &_legend {
      font-family: 'Tektur_Bold', sans-serif;
      font-size: clamp(1.3rem, 2vw, 1.5rem);
      @include gradient_text($secondary_linear-gradient);
      cursor: default;
      width: fit-content;
      white-space: nowrap;
    }
  }
  
  &_input {

    &_container {
      @include flex_center_column;
      align-items: flex-start;
    }
    //TODO
    &_field {
      @include flex_center;
      width: $form_input_width !important;
      height:$form_input_height !important;
      margin-bottom: 0.5rem !important;;
      border: 1px solid $primary-color !important;
      padding: 1rem 0.5rem !important;
      font-family: 'Roboto', sans-serif !important;
      font-size: 0.9rem !important;
      border-radius: 0px !important;
    }

    &_label {
      width: fit-content;
      font-family: 'Tektur_Bold', sans-serif;
      font-size: 1.3rem;
      margin-bottom: 0.2rem;
      @include gradient_text($secondary_linear-gradient);
    }

    &_error {
      @include flex_center;
      justify-content: flex-start;
      width: $form_input_width;
      margin-bottom: 0.2rem;
      font-size: clamp(0.7rem, 2vw, 0.8rem);
      color: $error-color;
    }
  }

  &_submit {

    &_error {
      @include flex_center;
      width: fit-content;
      margin: 2rem 0.5rem 0.5rem 0.5rem;
      font-size: clamp(1rem, 2vw, 1.2rem);
      color: $error-color;

      &_animation {
        animation: submit_error_shake .3s linear ;
        animation-iteration-count: 2;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .form {
    &_fieldsets {
      &_wrapper {
        width:80%;
        gap: 2rem;
      }
    }

    &_fieldset {
      &_container {
        min-width: 300px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .form {
    &_fieldsets {
    &_wrapper {
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
}
