.form {
  
  &_wrapper {
    @include flex_center_column;
    width: 100%;
    height: 100%;
  }

  &_fieldsets {
  
    &_wrapper {
      @include flex_center_row;
      align-items: stretch;
      width: 70%;
      height: auto;
      gap: 5rem;
    }
  }
  
  &_fieldset {
    
    &_container {
      @include flex_center_column;
      width: 100%;
      padding: 1.5rem;
      border: 2px solid $primary-color;
      border-radius: 10px;
      flex: 1;
    } 

    &_legend {
      font-family: 'Tektur_Bold', sans-serif;
      font-size: 1.5rem;
      @include gradient_text($secondary_linear-gradient);
      cursor: default;
      width: fit-content;
    }
  }
  
  &_input {

    &_container {
      @include flex_center_column;
      align-items: flex-start;
    }
    //TODO
    &_field {
      @include flex_center;
      width: 200px !important;
      height:20px !important;
      margin-bottom: 0.5rem !important;;
      border: 1px solid $primary-color !important;
      padding: 1rem 0.5rem !important;
      font-family: 'Roboto', sans-serif !important;
      font-size: 0.9rem !important;
      border-radius: 0px !important;
    }

    &_label {
      width: fit-content;
      font-family: 'Tektur_Bold', sans-serif;
      font-size: 1.3rem;
      margin-bottom: 0.2rem;
      @include gradient_text($secondary_linear-gradient);
    }
  }
}
