.data-table {

  &_wrapper {
    @include flex_center_column;
    width: 95%;
    height: auto;
  }


  &_options {

    &_container {
      @include flex_center_row;
      justify-content: space-between;
      width: 100%;
      height: auto;
      border: 1px solid red;
      font-size: 0.8rem;
    }

    &_entries {
      @include flex_center;
      width: fit-content;
      height: auto;

      >select {
        border: 1px solid black;
        margin: 0 0.2rem;
        cursor: pointer;
      }
    }

    &_search {
      @include flex_center;
      width: fit-content;
      height: auto;

      >label {
        margin-right: 0.5rem;
      }

      >input {
        border: 1px solid black;
        width: 100%;
      }
    }
  }


  &_titles_container {
    @include flex_center_row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    border: 1px solid orange;
    margin-top: 1rem;
  }

  &_title {
    
    &_item {
      @include data_table_contents_width;
      
      &_value {
        width: fit-content;
        text-align: center;
        padding: 0.5rem;
        @include text_ellipsis;
        font-family: 'Tektur_Bold', sans-serif;
        font-size: 0.9rem;
        @include gradient_text($secondary_linear-gradient);
      }

      &_sorting {

        &_container {
          @include flex_center_column;
          width: fit-content;
          height: auto;
          cursor: pointer;
          
          svg {
            width: 1rem;
            height: 1rem;
          }

          path {
            fill: $primary-color;
          }
        }

        &_icon-asc, 
        &_icon-desc {
          @include flex_center;
        }
      }
    }
  }


  &_content-lines_container {
    @include flex_center_column;
    width: 100%;
    height: auto;
    border: 1px solid yellow;
  }

  &_content-line {

    &_container {
      @include flex_center_row;
      justify-content: space-between;
      align-items: stretch;
      width: 100%;
      border: 1px solid blue;
    }
    
    &_item {
      
      @include data_table_contents_width;

      &_value {
        @include text_ellipsis;
        text-align: center;
        width: 100%;
        font-size: 0.9rem;
        padding: 0.5rem;
      }
    }
  }


  &_showing_container {
    @include flex_center_row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: 1px solid red;
    margin-top: 0.5rem;
  }

  &_showing_entries {

    &_container {
      @include flex_center_row;
      justify-content: space-between;
      max-width: 45%;
      height: auto;
      border: 1px solid lime;
    }

    &_text {
      border: 1px solid black;
      width: fit-content;
      font-size: 0.8rem;
    }
  }

  &_showing_pagination {
    
    &_container {
      @include flex_center_row;
      justify-content: space-between;
      max-width: 45%;
      height: auto;
      border: 1px solid black;
      gap: 0.5rem;
    }
    
    &_button {
      
      &_previous,
      &_next,
      &_current,
      &_not-current{
        @include flex_center;
        width: fit-content;
        background: none;
        font-size: 0.8rem;
        cursor: pointer;
      }

      &_current {
        background: $primary-color;
        color: #fff;
        width:2rem;
        height: 2rem;
      }
    }
  }
}

.caret_active {
  path {
    fill: $secondary-color;
  }
}