.header {

  &_wrapper {
    @include flex_center_column;
    width: 100%;
    height: 150px;
  }

  &_contents_container {
    @include flex_center_row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  &_logo {
  
    &_container {
      @include flex_center;
      justify-content: flex-start;
      width: fit-content;
      height: 100%;
      margin: 0 1.2rem;
      padding: 1.2rem 0;
    }
  
    &_img {
      width: clamp(90px, 12vw, 115px);
      height: clamp(90px, 12vw, 115px);
      cursor: pointer;
    }
  
    &_title {
      white-space: nowrap;
      font-family: 'Tektur_Bold', sans-serif;
      font-size: clamp(2.2rem, 5vw, 3rem);
      margin-left: 20px;
      @include gradient_text($secondary_linear-gradient);
      cursor: default;
    }
  }

  &_vertical_bar {

    &_container {
      @include flex_center_row;
      justify-content: flex-start;
      flex: 1;
      height: 100%;
      width: fit-content;
      font-size: 3rem;
      @include gradient_text($tertiary_linear-gradient);
      overflow: hidden;
      cursor: default;
      
    }
  
    &_item {
      &:hover {
        transform: scale(1.1); //TODO: when hover, the text should be bigger ?
      }
    } 
  }
  
  &_border_bottom {
    position: relative;
    width: calc(100% - 2.4rem); // 2.4rem = 1.2rem * 2 (padding logo container)

    // for the border bottom gradient effect
    &::after {
      content: '';
      position: absolute;
      bottom: -1.2rem; // 1.2rem = padding logo container
      left: 0;
      width: 100%;
      height: 20px;
      border-radius: 50px 20px;
      background: $quartery_linear-gradient;
      animation: dynamic_border_bottom_linear 8s linear infinite;
      will-change: background-position;
    }
  }

  &_button {

    &_container {
      @include flex_center_column;
      width: fit-content;
      height: 100%;
      margin: 0 1.2rem;
    }

    &_nav {
      white-space: nowrap;
      @include gradient_text($primary_radial-gradient);
      font-size: clamp(0.8rem, 3vw, 1.2rem);
      font-family: 'Tektur_Bold', sans-serif;
      font-weight: 500;
      cursor: pointer;
    }
  }
}


@media screen and (max-width: 450px){
  .header {
  
    &_logo {
      &_title {
        margin-left: .5rem;
      }
    }
  }
}


@media screen and (max-width: 400px){
  .header {

    &_logo {
      &_container {
        padding: 1.2rem 0 0.4rem 0;
      }
    }

    &_contents_container {
      flex-direction: column;
    }

    &_logo_container {
      margin: 0 .2rem;
    }
  
    &_button {
    
      &_container {
        margin: 0 .2rem;
      }

      &_nav:nth-child(2) {
        margin-bottom: .4rem;
      }
    }

    &_border_bottom::after {
      bottom: -2.2rem
    }
  }
}
