.modal {

  &_container {
    width: fit-content;
    height: fit-content;
    @include flex_center_column;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2rem;
    border: 3px solid $primary-color;
    border-radius: 10px;
    background-color: #fff;
  }

  &_text {
    text-align: center;
    font-family: 'Tektur_Bold', sans-serif;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    @include gradient_text($secondary_linear-gradient);
    cursor: default;
  }

  &_close-button {
    @include flex_center;
    height: clamp(3.5rem, 8vw, 5rem);
    width: clamp(3.5rem, 8vw, 5rem);
    margin-top: 2rem;
    font-weight: 700;
    font-size: clamp(2rem, 5vw, 3.5rem);
    color: #fff;
    background: $primary_radial-gradient;
    border-radius: 50%;
    cursor: pointer;

    
    &_label {
      margin-top: 0.1rem;
      text-align: center;
      font-size: clamp(0.7rem, 2vw, 0.8rem);
      font-weight: 700;
      @include gradient_text($secondary_linear-gradient);
    }
  }
  
  &_shake {
    animation: modal_shaking 10s linear infinite;
  }
  
  &_heart-beat {
    animation: modal_heart_beat 5s cubic-bezier(.17, .62, .44, .89) infinite ;
  }
}
