.pagination {
      
  &_container {
    @include flex_center_row;
    justify-content: space-between;
    max-width: 45%;
    height: auto;
    gap: 2rem;
  }

  &_jump {
    &_container {
      @include flex_center_row;
      width: 100%;
      height: auto;
      gap: 0.2rem;
      font-size: 0.9rem;
      font-family: 'Tektur_Semi-Bold', sans-serif;

      >label {
        width: fit-content;
        margin-right: 0.5rem;

      }

      >input {
        text-align: center;
        border: 2px solid $primary-color;
        padding: 0.2rem 0;
      }
    }
  }

  &_buttons_container {
    @include flex_center_row;
    justify-content: space-between;
    width: fit-content;
    height: auto;
    gap: 0.5rem;
  }
  
  &_button {
    
    &_previous,
    &_next,
    &_current,
    &_not-current{
      @include flex_center;
      width: fit-content;
      background: none;
      font-size: 0.8rem;
      cursor: pointer;
      
      >svg {
        width: 2rem;
        height: 2rem;

        //#svg_radial-gradient in props => DataTable.jsx/DisplayPagination() 
        @supports (fill: url(#svg_radial-gradient)) {
          >path {
            fill: url(#svg_radial-gradient); 
          }
        }

        @supports not (fill: url(#svg_radial-gradient)) {
          >path {
            fill: $primary-color;
          }
        }
      }
    }

    &_current {
      width:1.5rem;
      height: 1.5rem;
      background: $primary-color;
      color: #fff;
      border-radius: 50%;
    }
  }
}