
//TODO
// select field border
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
 border-radius: 0px !important;
}

//TODO
//height of select list container when is open
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  max-height: calc(500px - 10%) !important;
}

//TODO
//items list
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  padding: 6px 16px !important;
  
  &:hover {
    @include gradient_text($primary_radial-gradient);
    font-size: 1.2rem !important;
  }
  
  &.Mui-selected {
    color: #fff !important;
    background: $primary_radial-gradient  !important;
  }
}

