.spheres-button {

  &_container {
    @include flex_center;
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
  }

  &_button {
    @include gradient_text($secondary_linear-gradient);
    //TODO keep css with inlinestyle?
    width: $sphere_button_size;
    height: $sphere_button_size;
    font-family: 'Tektur_Bold', sans-serif;
    font-size: $sphere_button_font_size;
    border: 10px solid $primary-color;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    @include button_hover_push-effect(40px, 0.37);
  }
}