.spheres-button {

  &_container {
    @include flex_center;
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
    background: #fff;
  }

  &_button {
    @include gradient_text($secondary_linear-gradient);
    width: 135px;
    height: 135px;
    font-family: 'Tektur_Bold', sans-serif;
    font-size: 1.3rem;
    border: 10px solid $primary-color;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    @include button_hover_push-effect(40px, 0.37);
  }
}