@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Tektur_regular';
  src: url('./fonts/Tektur-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Tektur_semi-bold';
  src: url('./fonts/Tektur-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Tektur_bold';
  src: url('./fonts/Tektur-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto_regular_italic';
  src: url('./fonts/Roboto-Italic.ttf') format('truetype');
}