@font-face {
  font-family: 'Roboto';
  src: url('/src/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Tektur_regular';
  src: url('/src/fonts/Tektur-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Tektur_semi-bold';
  src: url('/src/fonts/Tektur-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Tektur_bold';
  src: url('/src/fonts/Tektur-Bold.ttf') format('truetype');
}