@mixin gradient_text($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute_center_rotate($deg) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate($deg);
}

@mixin text_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  // white-space: nowrap;
}

@mixin data_table_contents_width {
  &_0, &_1, &_2, &_3, &_4, &_5 ,&_6, &_7, &_8 {
    @include flex_center;
    justify-content: space-around;  
  }

  &_0, &_1, &_3, &_5, &_6 {
    width: 13%; // 5x13 = 65%
  }

  &_2, &_4 {
    width: 10%;
  }

  &_7 {
    width: 7%;
  }

  &_8 {
    width: 8%;
  }
}
