@mixin gradient_text($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin dynamic_radial-gradient($percentage) {
  background: radial-gradient(circle at $percentage center, #1494B9 0%, #0E3C55 100%);
}

@mixin absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute_center_rotate($deg) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate($deg);
}

@mixin text_ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  // white-space: nowrap;
}

