$primary_radial-gradient: radial-gradient(circle at center, #1494B9 0%, #0E3C55 100%);
$secondary_linear-gradient: linear-gradient(to right, #1494B9, #0E3C55);
$tertiary_linear-gradient: linear-gradient(to bottom, #1494B9, #0E3C55);
$quartery_linear-gradient: linear-gradient(90deg, #0E3C55 0% ,#1494B9 50%, #0E3C55 100%);


$primary-color: #1494B9;
$secondary-color: #0E3C55;
$error-color: #FF0000;

$logo_wheel_size: 240px;
$sphere_button_size: 136px;
$sphere_button_font_size: 1.3rem;


//FORM
$form_input_width: 200px;
$form_input_height: 35px;


//DATATABLE
$datatable_font_size: clamp(0.8rem, 2vw, 0.9rem);

//PAGINATIONS
$pagination_font_size: clamp(0.7rem, 2vw, 0.8rem);