$primary_radial-gradient: radial-gradient(circle at center, #1494B9 0%, #0E3C55 100%);
$secondary_linear-gradient: linear-gradient(to right, #1494B9, #0E3C55);
$tertiary_linear-gradient: linear-gradient(to bottom, #1494B9, #0E3C55);
$quartery_linear-gradient: linear-gradient(90deg, #0E3C55 0% ,#1494B9 50%, #0E3C55 100%);


$primary-color: #1494B9;
$secondary-color: #0E3C55;

$logo_wheel_size: 240px;