/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: unset;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* =============================== add perso =========================== */
.navlink {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Tektur_regular";
  src: url("/src/fonts/Tektur-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Tektur_semi-bold";
  src: url("/src/fonts/Tektur-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Tektur_bold";
  src: url("/src/fonts/Tektur-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto_regular_italic";
  src: url("/src/fonts/Roboto-Italic.ttf") format("truetype");
}
@keyframes dynamic_border_bottom_linear {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -20vw 0;
  }
  75% {
    background-position: 20vw 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes modal_shaking {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  25% {
    transform: translate(-50%, -50%) rotate(-3deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(3deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
}
@keyframes modal_heart_beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: translate(40%, -10%) scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: translate(-40%, -10%) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes submit_error_shake {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-3deg);
  }
  50% {
    transform: rotateZ(3deg);
  }
  75% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0);
  }
}
html,
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}

.main_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 2rem 0;
}
.main_modal-opacity {
  opacity: 0.2;
  pointer-events: none;
}

.spheres_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sphere {
  background: radial-gradient(circle at center, #1494B9 0%, #0E3C55 100%);
  border-radius: 50%;
}

.sphere-line-wheel_spheres-lines_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sphere-pyramid_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding-top: 3px;
}
.sphere-pyramid_wrapper:first-child {
  transform: rotateZ(180deg);
}
.sphere-pyramid_level-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}
.sphere-pyramid_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #1494B9 0%, #0E3C55 100%);
}

.spheres-button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin-top: 1rem;
}
.spheres-button_button {
  background: linear-gradient(to right, #1494B9, #0E3C55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: 136px;
  height: 136px;
  font-family: "Tektur_Bold", sans-serif;
  font-size: 1.3rem;
  border: 10px solid #1494B9;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 0 40px #1494B9;
  transition: all 0.2s ease-in-out;
}
.spheres-button_button:hover {
  transform: translateY(6px) scale(0.98);
  box-shadow: inset 0 0 40px #1494B9, 0 0 8px 3px rgba(48, 47, 47, 0.37);
}

.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: fit-content;
  gap: 2rem;
}
.pagination_jump_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 0.2rem;
}
.pagination_jump_container > input {
  height: 100%;
  text-align: center;
  border: 2px solid #1494B9;
  border-radius: 0.2rem;
  padding: 0.2rem 0;
}
.pagination_jump_container > input::selection {
  background: transparent;
}
.pagination_jump_text-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: auto;
  white-space: nowrap;
}
.pagination_jump_text-label > label {
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  font-family: "Tektur_Semi-Bold", sans-serif;
  width: fit-content;
  margin-right: 0.5rem;
}
.pagination_jump_text-label > p {
  font-size: 0.7rem;
  font-family: "Roboto_regular_italic", sans-serif;
}
.pagination_buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  height: auto;
  gap: 0.5rem;
}
.pagination_button_previous, .pagination_button_next, .pagination_button_current, .pagination_button_not-current {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background: none;
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  cursor: pointer;
}
.pagination_button_previous > svg, .pagination_button_next > svg, .pagination_button_current > svg, .pagination_button_not-current > svg {
  width: 2rem;
  height: 2rem;
}
@supports (fill: url(#svg_radial-gradient)) {
  .pagination_button_previous > svg > path, .pagination_button_next > svg > path, .pagination_button_current > svg > path, .pagination_button_not-current > svg > path {
    fill: url(#svg_radial-gradient);
  }
}
@supports not (fill: url(#svg_radial-gradient)) {
  .pagination_button_previous > svg > path, .pagination_button_next > svg > path, .pagination_button_current > svg > path, .pagination_button_not-current > svg > path {
    fill: #1494B9;
  }
}
.pagination_button_current {
  min-width: 1.5rem;
  height: 1.5rem;
  background: #1494B9;
  color: #fff;
  border-radius: 15px;
  padding: 0.2rem;
}

.header_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
}
.header_contents_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.header_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 100%;
  margin: 0 1.2rem;
  padding: 1.2rem 0;
}
.header_logo_img {
  width: clamp(90px, 12vw, 115px);
  height: clamp(90px, 12vw, 115px);
  cursor: pointer;
}
.header_logo_title {
  white-space: nowrap;
  font-family: "Tektur_Bold", sans-serif;
  font-size: clamp(2.2rem, 5vw, 3rem);
  margin-left: 20px;
  background: linear-gradient(to right, #1494B9, #0E3C55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: default;
}
.header_vertical_bar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  height: 100%;
  width: fit-content;
  font-size: 3rem;
  background: linear-gradient(to bottom, #1494B9, #0E3C55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  overflow: hidden;
  cursor: default;
}
.header_vertical_bar_item:hover {
  transform: scale(1.1);
}
.header_border_bottom {
  position: relative;
  width: calc(100% - 2.4rem);
}
.header_border_bottom::after {
  content: "";
  position: absolute;
  bottom: -1.2rem;
  left: 0;
  width: 100%;
  height: 20px;
  border-radius: 50px 20px;
  background: linear-gradient(90deg, #0E3C55 0%, #1494B9 50%, #0E3C55 100%);
  animation: dynamic_border_bottom_linear 8s linear infinite;
}
.header_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: 100%;
  margin: 0 1.2rem;
}
.header_button_nav {
  white-space: nowrap;
  background: radial-gradient(circle at center, #1494B9 0%, #0E3C55 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: clamp(0.8rem, 3vw, 1.2rem);
  font-family: "Tektur_Bold", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .header_logo_title {
    margin-left: 0.5rem;
  }
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 0px !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  max-height: calc(500px - 10%) !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  padding: 6px 16px !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background: radial-gradient(circle at center, #1494B9 0%, #0E3C55 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.2rem !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  color: #fff !important;
  background: radial-gradient(circle at center, #1494B9 0%, #0E3C55 100%) !important;
}

.datepicker_popper .MuiPaper-root {
  border: 5px solid #1494B9;
  border-radius: 30px;
  overflow: hidden;
}

.modal_container {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.2rem;
  border: 3px solid #1494B9;
  border-radius: 10px;
  background-color: #fff;
}
.modal_text {
  text-align: center;
  font-family: "Tektur_Bold", sans-serif;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  background: linear-gradient(to right, #1494B9, #0E3C55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: default;
}
.modal_close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(3.5rem, 8vw, 5rem);
  width: clamp(3.5rem, 8vw, 5rem);
  margin-top: 2rem;
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 3.5rem);
  color: #fff;
  background: radial-gradient(circle at center, #1494B9 0%, #0E3C55 100%);
  border-radius: 50%;
  cursor: pointer;
}
.modal_close-button_label {
  margin-top: 0.1rem;
  text-align: center;
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  font-weight: 700;
  background: linear-gradient(to right, #1494B9, #0E3C55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.modal_shake {
  animation: modal_shaking 10s linear infinite;
}
.modal_heart-beat {
  animation: modal_heart_beat 5s cubic-bezier(0.17, 0.62, 0.44, 0.89) infinite;
}

.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.form_fieldsets_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: stretch;
  width: 70%;
  height: auto;
  gap: 5rem;
}
.form_fieldset_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  border: 2px solid #1494B9;
  border-radius: 10px;
  flex: 1;
}
.form_fieldset_legend {
  font-family: "Tektur_Bold", sans-serif;
  font-size: clamp(1.3rem, 2vw, 1.5rem);
  background: linear-gradient(to right, #1494B9, #0E3C55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: default;
  width: fit-content;
  white-space: nowrap;
}
.form_input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.form_input_field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px !important;
  height: 20px !important;
  margin-bottom: 0.5rem !important;
  border: 1px solid #1494B9 !important;
  padding: 1rem 0.5rem !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 0.9rem !important;
  border-radius: 0px !important;
}
.form_input_label {
  width: fit-content;
  font-family: "Tektur_Bold", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
  background: linear-gradient(to right, #1494B9, #0E3C55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.form_input_error {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  margin-bottom: 0.2rem;
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  color: #FF0000;
}
.form_submit_error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 2rem 0.5rem 0.5rem 0.5rem;
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: #FF0000;
}
.form_submit_error_animation {
  animation: submit_error_shake 0.3s linear;
  animation-iteration-count: 2;
}

@media screen and (max-width: 1100px) {
  .form_fieldsets_wrapper {
    width: 80%;
    gap: 2rem;
  }
  .form_fieldset_container {
    min-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .form_fieldsets_wrapper {
    flex-direction: column;
    gap: 2rem;
  }
}
.data-table_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0 2rem 1rem 2rem;
  cursor: default;
  overflow-x: auto;
}
.data-table_options_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  font-family: "Tektur_Semi-Bold", sans-serif;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  gap: 1rem;
}
.data-table_options_search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  height: auto;
  gap: 1rem;
}
.data-table_options-entries, .data-table_options_search_select, .data-table_options_search_input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  height: auto;
}
.data-table_options_entries > select, .data-table_options_search_select > select {
  border: 2px solid #1494B9;
  margin: 0 0.2rem;
  cursor: pointer;
}
.data-table_options_entries > select:disabled, .data-table_options_search_select > select:disabled {
  border: 2px solid #1494B9;
  opacity: 1;
  color: rgba(199, 189, 189, 0.938);
  cursor: default;
}
.data-table_options_search_select > label, .data-table_options_search_input > label {
  margin-right: 0.5rem;
}
.data-table_options_search_input > input {
  border: 2px solid #1494B9;
  width: 100%;
}
.data-table_titles_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-top: 1rem;
}
.data-table_titles_container > div:first-child {
  border-radius: 10px 0 0 0;
  border: 2px solid #1494B9;
  border-bottom: none;
}
.data-table_titles_container > div:nth-child(n+2) {
  border: 2px solid #1494B9;
  border-left: none;
  border-bottom: none;
}
.data-table_titles_container > div:last-child {
  border-radius: 0 10px 0 0;
}
.data-table_title_item_0, .data-table_title_item_1, .data-table_title_item_2, .data-table_title_item_3, .data-table_title_item_4, .data-table_title_item_5, .data-table_title_item_6, .data-table_title_item_7, .data-table_title_item_8 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.data-table_title_item_0, .data-table_title_item_1, .data-table_title_item_3, .data-table_title_item_5, .data-table_title_item_6 {
  width: 13%;
}
.data-table_title_item_2, .data-table_title_item_4 {
  width: 10%;
}
.data-table_title_item_7 {
  width: 7%;
}
.data-table_title_item_8 {
  width: 8%;
}
.data-table_title_item_value {
  width: fit-content;
  text-align: center;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Tektur_Bold", sans-serif;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  background: linear-gradient(to right, #1494B9, #0E3C55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.data-table_title_item_sorting_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  height: auto;
  cursor: pointer;
}
.data-table_title_item_sorting_container svg {
  width: 1rem;
  height: 1rem;
}
.data-table_title_item_sorting_container path {
  fill: #1494B9;
}
.data-table_title_item_sorting_icon-asc, .data-table_title_item_sorting_icon-desc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.data-table_content-lines_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: 2px solid #1494B9;
  border-radius: 0 0 10px 10px;
}
.data-table_content-lines_container > div:first-child {
  border-top: 2px solid #1494B9;
}
.data-table_content-lines_container > div:last-child {
  border-bottom: none;
}
.data-table_content-lines_container_loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.data-table_content-lines_container_loading_container p {
  width: fit-content;
  height: fit-content;
  margin-right: 0.5rem;
  font-family: "Tektur_Bold", sans-serif;
  font-size: 1.5rem;
  background: linear-gradient(to right, #1494B9, #0E3C55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.data-table_content-lines_container_loading_container span {
  width: fit-content;
  height: 100%;
  animation: ellipsisDots 1.5s ease infinite;
  margin-right: 0.2rem;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  background: linear-gradient(to right, #1494B9, #0E3C55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.data-table_content-lines_container_loading_container > span:nth-child(2) {
  animation-delay: 0s;
}
.data-table_content-lines_container_loading_container > span:nth-child(3) {
  animation-delay: 0.2s;
}
.data-table_content-lines_container_loading_container > span:nth-child(4) {
  animation-delay: 0.4s;
}
@keyframes ellipsisDots {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(2);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
.data-table_content-line_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
.data-table_content-line_container:nth-child(even) {
  background: rgba(14, 60, 85, 0.2);
}
.data-table_content-line_item_0, .data-table_content-line_item_1, .data-table_content-line_item_2, .data-table_content-line_item_3, .data-table_content-line_item_4, .data-table_content-line_item_5, .data-table_content-line_item_6, .data-table_content-line_item_7, .data-table_content-line_item_8 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.data-table_content-line_item_0, .data-table_content-line_item_1, .data-table_content-line_item_3, .data-table_content-line_item_5, .data-table_content-line_item_6 {
  width: 13%;
}
.data-table_content-line_item_2, .data-table_content-line_item_4 {
  width: 10%;
}
.data-table_content-line_item_7 {
  width: 7%;
}
.data-table_content-line_item_8 {
  width: 8%;
}
.data-table_content-line_item_value {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  padding: 0.5rem;
}
.data-table_below_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
  gap: 1rem;
}
.data-table_below_left_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  height: auto;
}
.data-table_below_showing_entries_container {
  max-width: 100%;
  height: auto;
  cursor: default;
}
.data-table_below_showing_entries_text {
  width: fit-content;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  font-family: "Tektur_Bold", sans-serif;
  background: linear-gradient(to right, #1494B9, #0E3C55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.data-table_below_reset_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 0.5rem;
}
.data-table_below_reset_button {
  width: fit-content;
  height: auto;
  padding: 0.5rem 1rem;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  font-family: "Tektur_Bold", sans-serif;
  background: linear-gradient(to right, #1494B9, #0E3C55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
  border: 4px solid #1494B9;
  border-radius: 50px 15px;
  box-shadow: inset 0 0 15px #1494B9;
  transition: all 0.2s ease-in-out;
}
.data-table_below_reset_button:hover {
  transform: translateY(6px) scale(0.98);
  box-shadow: inset 0 0 15px #1494B9, 0 0 8px 3px rgba(48, 47, 47, 0.2);
}

.caret_active path {
  fill: #0E3C55;
}

.current-employee_page-title {
  margin: 1.5rem 0 3rem 0;
  font-family: "Tektur_Bold", sans-serif;
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  background: linear-gradient(to right, #1494B9, #0E3C55);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.home-main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  position: relative;
}
.home-main_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 240px;
}
.home-main_logo_img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
